!!! 5
%html
  %head
    %title marutanm.github.com
    %link{'href' => 'style.css', 'rel' => 'stylesheet', 'type' => 'text/css'}
  %body
    %h1 marutanm
    %ul
      %li
        %a{:href => 'http://twitter.com/marutanm'} twitter.com/marutanm
      %li
        %a{:href => 'http://coderwall.com/marutanm'} coderwall.com/marutanm
      %li
        %a{:href => 'http://d.hatena.ne.jp/marutanm'} d.hatena.ne.jp/marutanm
      %li
        %a{:href => 'http://www.flickr.com/photos/marutanm/'} flickr.com/photos/marutanm
      %li
        %a{:href => 'http://www.diigo.com/user/marutanm/'} diigo.com/user/marutanm
      %li
        %a{:href => 'http://trunk.ly/marutanm/'} trunk.ly/marutanm
      %li
        %a{:href => 'http://marutanm.tumblr.com/'} marutanm.tumblr.com
    .ribbon
      %a{:href => 'http://github.com/marutanm'} github.com/marutanm
