!!! 5
%html
  %head
    %title marutanm
    %link{'href' => 'style.css', 'rel' => 'stylesheet', 'type' => 'text/css'}
  %body
    .ribbon-holder
      #coderwall
        %a{:href => 'http://coderwall.com/marutanm'} coderwall.com/marutanm
      #hatena
        %a{:href => 'http://d.hatena.ne.jp/marutanm'} d.hatena.ne.jp/marutanm
      #flickr
        %a{:href => 'http://www.flickr.com/photos/marutanm/'} flickr.com/photos/marutanm
      #diigo
        %a{:href => 'http://www.diigo.com/user/marutanm/'} diigo.com/user/marutanm
      #trunkly
        %a{:href => 'http://trunk.ly/marutanm/'} trunk.ly/marutanm
      #tumblr
        %a{:href => 'http://marutanm.tumblr.com/'} marutanm.tumblr.com
      #twitter
        %a{:href => 'http://twitter.com/marutanm'} twitter.com/marutanm
      #github
        %a{:href => 'http://github.com/marutanm'} github.com/marutanm
